<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">app name</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo">
        <h1 th:text="${appName}">naam</h1>
    </div>

    <nav>
        <a href="/">Phones</a>
        <a href="/brands">Brands</a>
        <a href="/series">Series</a>
    </nav>
</header>

<h1 class="titel">Details: </h1>

<form class="info" th:action="@{|/admin/edit-phone/${phone.id}|}" method="post">
    <div class="infoLine">
        <div class="infoLineName">
            <label for="name">Name:</label>
        </div>
        <div class="infoLineValue">
            <input id="name" name="phoneName" th:value="${phone.name}">
        </div>
    </div>
    <div class="infoLine">
        <div class="infoLineName">
            <label for="price">Price:</label>
        </div>
        <div class="infoLineValue">
            <input id="price" name="phonePrice" th:value="${phone.prijs}" type="number" step="100">
        </div>
    </div>
    <div class="infoLine">
        <div class="infoLineName">
            <label for="brand">Brand:</label>
        </div>
        <div class="infoLineValue">
            <select id="brand" name="phoneBrand">
                <option th:each="brand:${brands}" th:value="${brand.brandName}"
                        th:text="${brand.brandName}" th:selected="${phone.getBrand().id} == ${brand.id}"/>
            </select>
        </div>
    </div>
    <div class="infoLine">
        <div class="infoLineName">
            <label for="series">Series:</label>
        </div>
        <div class="infoLineValue">
            <select id="series" name="phoneSeries">
                <option th:each="serie:${series}" th:value="${serie.seriesName}"
                        th:text="${serie.seriesName}" th:selected="${phone.getSeries().id} == ${serie.id}"/>
            </select>
        </div>
    </div>
    <div class="save-cancel-links">
        <input class="save-link" type="submit" value="Save">
        <a class="cancel-link" th:href="'/phone/' + ${phone.getId()}">Cancel</a>
    </div>
</form>

</body>
</html>