<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">app name</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div class="logo">
        <h1 th:text="${appName}">naam</h1>
    </div>

    <nav>
        <a href="/">Phones</a>
        <a href="/brands">Brands</a>
        <a href="/series">Series</a>
    </nav>
</header>

<h1 class="titel">Details: </h1>

<div class="info">
    <div class="infoLine">
        <div class="infoLineName">
            <h4>Name:</h4>
        </div>
        <div class="infoLineValue">
            <p th:text="${brand.getBrandName()}">name of brand</p>
        </div>
    </div>
    <div class="infoLine">
        <div class="infoLineName">
            <h4>More info:</h4>
        </div>
        <div class="infoLineValue">
            <a th:text="${brand.getBrandLinkMoreInfo()}" th:href="${brand.getBrandLinkMoreInfo()}">link more info brand</a>
        </div>
    </div>
</div>

<div class="prev-next">
    <a class="prev prev-next-link" th:href="'/brand/' + ${idPrevBrand}">Previous</a>
    <a class="next prev-next-link" th:href="'/brand/' + ${idNextBrand}">Next</a>
</div>
</body>
</html>